<div class="container login-container">
    <div class="row">
        <div class="col-md-9 login-form-1">  
            <div class="img2">
                <img src="../../assets/images/Gotita.png">
            </div>
            <h1 class="title">BIENVENIDO A HEMOTEC</h1>
        </div>
        <div class="col-md-3 login-form-2">
            <div class="img">
                <img src="../../assets/images/Logo.png">
            </div>
            <form autocomplete="off" [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput type="text" formControlName="username" placeholder="Usuario:">
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">Usuario Inválido</mat-error>
                <mat-form-field>
                    <input matInput [type]="!hide ? 'password' : 'text'" name="password" placeholder="Clave:" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.arial-label]="'Hide password'" [attr.arial-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">Clave Inválida</mat-error>
                <div class="actions">
                    <mat-spinner *ngIf="_proc" diameter="5"></mat-spinner>
                    <button type="submit" class="btn-in btn btn-primary btn-lg btn-block" mat-button [disabled]="!loginForm.valid" (click)="onSubmit()">Log  In</button>
                </div>
            </form>
        </div>
    </div>
</div>