.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.img img{
    height:  150px;
    margin-left: 25%;
}

.img2 img{
    height:  120px;
    margin-left: 15%;
    margin-top: 20%;
}

.login-form-1 {
    background: #1d6ceb;
    background: url('../../assets/images/Background_2.jpeg') top center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
}

.title{
    font-family: 'SkySansW01-BoldSmallCaps';
    font-size: 30px;
    color: #fff;
    margin-top: 7%;
    margin-left: 7%;
}

.login-form-1 h3 {
    padding: 5%;
    text-align: center;
    color: #333;
}

.login-form-2 {
    padding: 2%;
    background: #fff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.btn-in{
     border-radius: 28px;
}

.btnRegister {
	box-shadow: 0px 0px 0px 2px #fff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-top: 55%;
    margin-left: 5%;
}
.btnRegister:hover {
	background-color:#e43c5c;
}
.btnRegister:active {
	position:relative;
	top:1px;
}
.btnSubmit {
	box-shadow: 0px 0px 0px 2px #e43c5c;
	border-radius:42px;
    display:inline-block;
    background-color:#e43c5c;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:10px 35px;
    text-decoration:none;
    margin-top: 24%;
    text-shadow:0px 1px 0px #283966;
}

/*Funciones de Responsive*/
@media screen and (max-width: 900px) {
    .login-form-1 {
        display: none;
    }
    .login-container {
        grid-template-columns: 1fr;
    }
    .login-form-2  {
        justify-content: center;
        height: 50%;
    }
}

