<div class="container login-container" *ngIf="!isLogin">
    <div class="row">
        <div class="col-md-9 login-form-1">
            <div class="img2">
                <a routerLink="/registerbusiness" class="btnRegister">Registrate!</a>
            </div>
        </div>
        <div class="col-md-3 login-form-2">
            <div class="img">
                <img src="../../assets/images/Recurso 3.png">
            </div>
            <form autocomplete="off" [formGroup]="loginForm">
                <mat-form-field appearance="standard">
                    <mat-label>Usuario:</mat-label>
                    <input matInput type="text" formControlName="username">
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">Usuario Inválido</mat-error>
                <mat-form-field appearance="standard">
                    <mat-label>Clave:</mat-label>
                    <input matInput [type]="!hide ? 'password' : 'text'" name="password" formControlName="password" (keydown)="handleKeyPress($event, loginForm)">
                    <span mat-icon-button matSuffix (click)="hide = !hide" [attr.arial-label]="'Hide password'" [attr.arial-pressed]="hide">
                        <div *ngIf="hide; else eye">
                            <i class="fas fa-eye-slash"></i>
                        </div>
                        <ng-template #eye>
                            <div>
                                <i class="fas fa-eye"></i>
                            </div>
                        </ng-template>
                    </span>
                </mat-form-field>
                <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">Clave Inválida</mat-error>
                <div class="actions">
                    <span><a routerLink="/changePassword">Olvidaste tu contraseña?</a></span>
                    <button type="submit" class="btnSubmit btn-lg" mat-button [disabled]="!loginForm.valid" (click)="onSubmit()">Iniciar Sesión </button>
                </div>
            </form>
        </div>
    </div>
</div>