.btnNext{
    margin-left: 70%;
    background-color: #e43c5c;
    color: white;
}

.rol{
    margin-left: 20px;
}

.msj{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
.buttonsec{
    margin-top: 9%;
    margin-left: 50%;
}

.mat-step-header .mat-step-icon-selected {
    background-color:  #e43c5c; 
 }