<section class="row ">
  <div class="col-md-3 container" *ngFor="let blood of bloods">
    <div class="card">
      <div class="imgBox">
        <img src="../../../assets/images/bolsapng.png" />
      </div>
      <div class="information">
        <h3>{{ blood.hemocomponente }}</h3>
        <h3>Fecha De Recoleccion: {{ blood.fechaRecoleccion }}</h3>
        <h3>Fecha De Vencimiento: {{ blood.fechaVencimiento }}</h3>
        <h3>Tipo De Sangre: {{ blood.sangre }}</h3>
        <h3>Stock: {{ blood.cantidad }}</h3>
        <h3>Precio: {{ blood.precio }}</h3>
        <form [formGroup]="formFridge">
          <mat-form-field>
            <mat-label>Cantidad:</mat-label>
            <input matInput formControlName="cantidad" type="number" min="1" max="{{ blood.cantidad }}">
          </mat-form-field>
          <a style="cursor: pointer;" (click)="getObjectToFridge(blood.idDetalleEntrada)">Añadir</a>
        </form>
      </div>
    </div>
  </div>
</section>
