<mat-table [dataSource]="dataSource" style="width: 1000px;">

  <ng-container matColumnDef="hemocomponente">
    <mat-header-cell *matHeaderCellDef> Hemocomponente </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hemocomponente}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="fechaRecoleccion">
    <mat-header-cell *matHeaderCellDef> Fecha De Recolección </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fechaRecoleccion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaVencimiento">
    <mat-header-cell *matHeaderCellDef> Fecha De Vencimiento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fechaVencimiento}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sangre">
    <mat-header-cell *matHeaderCellDef> Sangre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sangre}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="precio">
    <mat-header-cell *matHeaderCellDef> Precio C/U </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let element">${{ getCostoTotal(element.precio, element.cantidad) }} COP</mat-cell>
    </ng-container>
  

  <ng-container matColumnDef="accion">
  <mat-header-cell *matHeaderCellDef> Descartar </mat-header-cell>
    <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="dropElement(element.idElemento)"> <button class="fas fa-fire"></button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="d-flex justify-content-between mt-lg-1">
  <button class="btnAction" mat-raised-button [mat-dialog-close]>Cancelar</button>
  <button class="btnAction"  mat-raised-button [mat-dialog-close] (click)="buyElements()" color="primary">Comprar</button>
</div>