/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

body {
    overflow: hidden;
}