/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~remixicon/fonts/remixicon.css";
@import "~boxicons/css/boxicons.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}